body{
    margin: 0;padding: 0;
    background-color: #fafafa;
}
.box {
    width: 1000px;
    margin: 50px auto;
}
.box .card-box{
    display:flex;
    justify-content:center;
    align-items:center;
}
.box .card-box .card{
    width: 280px;
    height: 140px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s;
}
.box .card-box .card:hover {
    transform: translateY(-10px);
    /* transform: rotate(-1deg); */
    box-shadow: 0px 10px 20px #ccc;
}
/* colorr */
.list-card5{
    background-color: aqua;
}
.list-card4{
    background-color: #23DD95;
}
.list-card1{
    background-color: blue;
}
.list-card2{
    background-color: purple;
}
.list-card3{
    background-color: green;
}
.list-card6{
    background-color: #919ACE;
}
.list-card7{
    background-color: #FFD666;
}
.list-card8{
    background-color: #777777;
}
.list-card9{
    background-color: #F2655F;
}