*,*::before,*::after{
    margin: 0;padding: 0;
}
:root{
    --bacColor: #eff1f8;
}
body{
    background-color: var(--bacColor);
    min-height: 100vh;
    font-size: 10px;
    display: flex;justify-content: center;
    align-items: center;
}
.box{
    height: 16rem;width: 32rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 4px 4px 8px #cecece,
                -4px -4px 8px #fff;
    .left{
        height: 14rem;width: 14rem;
        border-radius: 50%;
        background-color: var(--bacColor);
        box-shadow: 3px 3px 6px #cecece,
                    -3px -3px 6px #fff;
        margin-left: 2rem;
        display: flex;justify-content: center;
        align-items: center;
        .cl{
            width: 12rem;height: 12rem;
            background-image: radial-gradient(#848793 20%,transparent 40%);
            border-radius: 50%;
            background-size: 15px 15px;
            transform: rotate(45deg);
            box-shadow: inset 4px 4px 8px #cfcfcf,
                    inset -3px -3px 8px #f2f2f2;
        }
    }
    .right{
        display: flex;
        flex: 2;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 1rem;
        div{
            width: 6.5rem;
            text-align: center;
            padding: 8px;
            margin: 1.2rem 0;
            cursor: pointer;
            .fas{
                font-size: 3.2rem;
                color: var(--bacColor);
                /* not box-shadow! */
                text-shadow: 1px 1px 1px #dee3f3,
                3px 3px 1px #cccdd3,
                // 0 0 6px #dee3f3,
                -1px -1px 1px #ffffff;
               
            }
        }
    }
}
