*{
    margin: 0;padding: 0;
    font-family: tahoma;
}
.wrap{
    width: 100%;height: 100vh;
    background: linear-gradient(to right,#7072e6,#7072e677,#474aeb77,#474aeb);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.wrap .content{
    position: relative;
    margin-top: 100px;
}
.wrap .content textarea{
    outline: none;
    border: 3px solid #474aeb;
    padding: 5px;
    border-radius: 10px;
    font-size: 18px;
}
.wrap .content button{
    background-color: #474aebaa ;
    height: 30px;width: 80px;
    color: #fff;
    font-size: 18px;
    outline: #7072e6;
    position: absolute;right: 0px;
    border-radius: 8px;
}
.wrap .content p{
    margin-top: 50px;
}
.wrap .content ul .list-ol{
    margin: 5px 0;
    padding: 5px 3px;
    color: #fff;
    background-color: #7072e6;
    border-radius: 5px;
}