* {
    margin: 0;
    padding: 0;
}

.h {
    height: 400px;
    width: 100%;
    font-size: 28px;
    text-align: center;
    background-color: #f2f2f2;
}

.h .head_box {
    padding: 2rem 1rem;
    padding-top: 100px;
}

.h button {
    width: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    border-color: rgba(2, 2, 5, 0.4);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    margin-top: 20px;
    padding: 0.75rem;
    font-size: 1.5rem;
    transition: background-color 0.5s;
    outline: none;
}

.h button a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.h button a:hover {
    color: #7366F2;
}

/* login - css */
#login {
    height: 600px;
    width: 100%;
    background-image: linear-gradient(to top left, rgba(128, 0, 128, 60%), rgba(0, 0, 255, 60%));
}

.login {
    width: 600px;
    height: 300px;
    margin: 0 auto;
    padding-top: 150px;
}

.login .box {
    background-color: #8648dd;
    box-shadow: 0 0 30px 0px #824080;
    border-radius: 16px;
}

.login .box .left-box {
    width: 340px;
    display: inline-block;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding: 50px;
    background-image: linear-gradient(to top left, #800099, #5348f5);
}

.login .box .left-box .title {
    color: #fff;
    font-size: 22px;
    line-height: 35px;
    border-bottom: 3px solid #777;
    margin-bottom: 20px;
}

.login .box .left-box form input {
    margin: 10px 2px;
    height: 25px;
    outline: none;
    padding: 3px 5px;
}

.login .box .left-box form .name {
    border: 1px dashed rgba(2, 2, 2, 0.6);
    color: black;
}

.login .box .left-box form .pd {
    background: none;
    border: 0;
    display: block;
    width: 100%;
    transition: 0.3s;
    border-bottom: 3px solid rgb(45, 50, 47);
}

.login .box .left-box form .pd:hover {
    border-bottom-color: #fff;
}

.login .box .left-box form .pd::-webkit-input-placeholder {
    color: white;
}

.login .box .left-box .tip {
    color: #eeeeee;
    font-size: 10px;
    cursor: pointer;
}

.login .box .right-box {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    padding: 80px 0;
    text-align: center;
}

.login .box .right-box .regist {
    color: #fff;
    font-size: 18px;
    font-weight: 200;
}

.login .box .right-box .regist span {
    border-bottom: 3px solid yellow;
    cursor: pointer;
}

.login .box .right-box .miss-pw {
    color: #fff;
    font-size: 18px;
    position: relative;
}

.login .box .right-box .miss-pw span {
    border: 1px solid yellow;
    padding: 10px;
    width: 50px;
    line-height: 25px;
    border-radius: 15px;
    display: inline;
    position: absolute;
    bottom: -160px;
    left: 40px;
}

.login .box .right-box .miss-pw span:hover {
    background-color: yellow;
    color: #8648dd;
    cursor: pointer;
}


