body {
    margin: 0;
    padding: 0;
}
.wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: green;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(160deg, rgb(223, 223, 100), rgb(223, 223, 0) 50%, transparent 50%, transparent);
    /* background: linear-gradient(to bottom right,yellow,transparent); */
}

.wrap::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(-160deg, rgb(10, 0, 210),rgb(10,0,210) 50%, transparent 50%, transparent);
}

@keyframes upDown {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

.clock-box {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    /* background-color: rgba(0,0,0,0.3); */
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, .5);
    z-index: 10;
    position: relative;
    animation: upDown 5s ease-in-out infinite;
    animation-delay: -2.5s;
}

.bac {
    position: absolute;
    bottom: 50px;
    width: 300px;
    height: 80px;
    z-index: 20;
    background: radial-gradient(rgba(0, 0, 0, .3), transparent, transparent);
    border-radius: 50%;
}
.clock-box .clock {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 320px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(transparent, rgba(255, 255, 255, 0.2)), url(clock.png);
    /* 使图片 整个显现 即缩放填满至父元素 */
    background-size: cover;
    border-radius: 50%;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, .5);
    border-bottom: none;
    border-left: none;
    box-shadow: 10px 0px 20px rgba(255, 255, 255, .1),
        -10px 0 20px rgba(0, 0, 0, .1),
        0 -10px 20px rgba(255, 255, 255, 0.1),
        0px 40px 50px rgba(0, 0, 0, .2);
}

.clock::before {
    content: "";
    background-color: white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position:absolute;
    z-index: 1000;
}
.hour, .minute, .second{
    position: absolute;
}
.hour, .hr{
    width: 120px;height: 120px;
    display:flex;
}
.minute, .mu{
    width: 160px;height: 160px;
}
.second, .sc{
    width: 200px;height: 200px;
}
.hr, .mu, .sc{
    display:flex;
    justify-content: center;
    border-radius: 50%;
}
.hr::before{
    content: "";
    position: absolute;
    width: 8px;height: 60px;
    z-index: 20;
    background-color: red;
    border-radius: 6px;
}
.mu::before{
    content: "";
    position: absolute;
    width: 4px;height: 80px;
    z-index: 28;
    background-color: #fff;
    border-radius: 6px;
}
.sc::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 130px;
    z-index: 18;
    background-color: black;
    border-radius: 6px;
}