* {
    margin: 0;
    padding: 0;
}

.h {
    height: 400px;
    width: 100%;
    color: white;
    font-size: 30px;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #6e1111, #6e7989);
}

.h .head_box {
    padding: 2rem 1rem;
    padding-top: 100px;
    /* line-height: 700px; */
}

.h .d {
    font-size: 16px;
    color: #cdcdcd;
    margin: 1em;
}

.h button {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    padding: 0.75rem;
    font-size: 1.5rem;
    transition: background-color 0.5s;
}

.h button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* 可口可乐旋转效果 */

.kele {
    width: 100%;
    height: 600px;
    background-color: #FCFCFC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kele .kele_box {
    background-image: url(icon.png);
    background-repeat: repeat-x;
    background-position: 0 10px;
    animation: rotating 8s linear infinite;
}
@keyframes rotating {
    from {
        background-position: 0 10px;
    }
    to {
        background-position: 530px 10px;
    }
}
