* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    width: 400px;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    /* 换成大写 */
    border-radius: 50px;
    z-index: 1;

}

a::before {
    content: '';
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    z-index: -1;
    filter: blur(20px);
    border-radius: 50px;
}

a:hover,
a:hover::before {
    animation: scro 6s infinite;
}

@keyframes scro {
    100% {
        background-position: -400% 0;
    }
}