*{
    margin: 0;padding: 0;
}
body{
    width: 100%;height: 100vh;
    background: #fafafa;
    display: flex;
    justify-content: center;align-items: center;
}
.calendar{
    width: 350px;height: 340px;
    background-color:#fff;
    box-shadow: 5px 0 5px rgba(0,0,0,0.1),
    -5px 0 5px rgba(0,0,0,0.1),
    0 5px 5px rgba(0,0,0,0.1),
    0 -5px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
}
/* title */
.title{
    height: 80px;width: 100%;
    position: relative;
    display: flex;
    justify-content: center;align-items: center;
    flex-direction: column;
}
.title .month{
    font-size: 26px;
    font-weight: 900;
}
.title .year{
    font-size: 14px;
}
/* title内 a 标签*/
.title a{
    text-decoration: none;
    font-size: 30px;
    line-height: 30px;
    font-weight: 900;
}
.title .a-left{
    float: left;
    position: absolute;
    left: 20px;top: 25px;
}
.title .a-right{
    float: right;
    position: absolute;
    right: 20px;top: 25px;
}
/* title内 a 标签 end*/

/* title end */

/* body */
.bd{
    width: 100%;height: 255px;
    /* background-color: rgb(250, 235, 215); */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 5px;
}
/* day */
.day ul{
    flex-direction: row;
    display: flex;
}
.day ul li{
    flex: 1;
    color: darkgrey;
    text-align: center;
    font-size: 14px;
}
/* day end*/
/* date */
.date ul{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: wrap;
}
.date ul li{
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;align-items: center;
    font-size: 20px;
}
.date ul .today{
    width: 34px;
    height: 34px;
    margin: 3px 8px;
    background-color:red;
    border-radius: 50%;
}
/* date end */
/* body end */

/* 颜色区域 */

.color-zt{
    /* 紫檀色 */
    color: #4c221b;
}
.color-wl{
    /* 蔚蓝色 */
    color: #70f3ff;
}
.color-lg{
    /* 灰色 */
    color: darkgrey;
}
.color-dg{
    color: Black;
}
