*,*::before,*::after{
    margin: 0;padding: 0;
    box-sizing: border-box;
    // 看清轮廓
    // outline: 1px dashed #23ff23;
}
:root{
    --bac: #f3f2f4;
    --primary-dark: #008ada;
    --primary-light: #39ddfa;
    --primary: #00abdf;

    --greyLight-1: #ebf5fc;
    --greyLight-2: #d5e0f3;
    --greyLight-3: #c1d9f0;
    --greyDark: #646b8c;
}
html{
    font-size: 10px;
}

.container{
    background-color: var(--bac);
    display: flex;justify-content: center;
    align-items: center;
    min-height: 100vh;
    .card{
        width: 34rem;
        border-radius: 2rem;
        background-color: var(--greyLight-1);
        box-shadow: 0px 20px 30px rgba(100,131,178,0.2);
        padding: 5rem;
        border: 1px solid white;
        &-percent{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                width: 24rem;
                height: 24rem;
                z-index: 1;
                transform: rotate(-90deg);
                circle{
                    fill: none;
                    stroke-width: 24;
                    stroke-dasharray: 565.2; // 3.14*180
                    stroke-dashoffset: 282.6; // 3.14*180/2
                    stroke-linecap: round;
                    transform: translate(3rem,3rem);
                    transition: all 1s ease;
                }
            }
            .circle{
                position: absolute;
                width: 23rem;height: 23rem;
                border-radius: 50%;
                box-shadow: 6px 6px 8px var(--greyLight-2),
                            -6px -6px 8px white;
                background-color: var(--greyLight-1);
                &-m{
                    width: 20.5rem;
                    height: 20.5rem;
                    box-shadow: inset 8px 8px 10px var(--greyLight-2),
                                inset -4px -4px 8px white;
                }
                &-s{
                    width: 15.5rem;
                    height: 15.5rem;
                    box-shadow: 8px 8px 10px var(--greyLight-2),
                                -2px -2px 6px white;
                }
                
            }
            .card-number{
                position: absolute;
                color: var(--greyDark);
                font-size: 4rem;
            }
        }
        
    }
    .form{
        padding: 4rem;
        margin-left: 4rem;
        display: grid;
        grid-template-columns: 40% 60%;
        border-radius: 2rem;
        background-color: var(--greyLight-1);
        text-align: center;
        box-shadow: 0px 20px 30px rgba(100,131,1777,0.2);
        border: 1px solid white;
        position: relative;
        input{
            border: none;
            outline: none;
            background: none;
            width: 5rem;
            font-size: 1.5rem;
            text-align: center;
            padding: .8rem;
            border-radius: 1rem;
            color: var(--primary);
            box-shadow:inset  .2rem .2rem .4rem var(--greyLight-2),
            inset -.3rem -.3rem .4rem white;
            &::placeholder{
                color: var(--greyLight-3);
            }
            &:focus{
                color: var(--primary);
                box-shadow: .3rem .3rem .6rem var(--greyLight-3),
                -.2rem -.2rem .5rem white;
            }
        }
        .btn{
            border: none;
            outline: none;
            letter-spacing: .8px;
            background-color: var(--greyLight-1);
            padding: 0.8rem 2rem;
            border-radius: 2rem;
            color: white;
            cursor: pointer;
            background: linear-gradient(-25deg,var(--primary) 0%,var(--primary-light) 100%);
            margin-left: 6px;
            &:hover{
                background: linear-gradient(-25deg,var(--primary-dark) 0%,var(--primary) 100%);
    
            }
        }
        
        .tooltip{
            opacity: 0;
            position: absolute;
            display: flex;
            align-items: center;
            bottom: -5rem;
            padding: 1rem 2rem;
            background-color: var(--greyLight-1);
            border-radius: 1rem;
            font-size: 1.2rem;
            transition: all .3s ease;
            color: var(--primary-dark);
            margin-left: 1rem;
            &-text{
                margin-left: .6rem;
            }
            &.fade-in{ animation: fadeIn .8s ease;}
            &::after{
                content: '';
                position: absolute;
                left: 52%;
                bottom: 72%;
                width: 2rem;
                height: 2rem;
                background-color: var(--greyLight-1);
                clip-path: polygon(0% 0% ,100% 100%,0% 100%);
                transform: rotate(135deg);
                border-radius: 0 0 0 0.4rem;
            }
        }
    }
}


@keyframes fadeIn {
    100%{
        transform: translateY(-40px) scale(.5);
        opacity: 0;
    }
    100%{
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}