* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: #fafafa;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    background-color: #70f3ff;
}

/* 日历 */
.calendar {
    position: absolute;
    left: 200px;
    width: 350px;
    height: 340px;
    background-color: rgb(255, 240, 200);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1),
        -5px 0 5px rgba(0, 0, 0, 0.1),
        0 5px 5px rgba(0, 0, 0, 0.1),
        0 -5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: upDown 5s ease-in-out infinite;
    animation-delay: -2.5s;
}

/* title */
.title {
    height: 80px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title .month {
    font-size: 26px;
    font-weight: 900;
}

.title .year {
    font-size: 14px;
}

/* title内 a 标签*/
.title a {
    text-decoration: none;
    font-size: 30px;
    line-height: 30px;
    font-weight: 900;
}

.title .a-left {
    float: left;
    position: absolute;
    left: 20px;
    top: 25px;
}

.title .a-right {
    float: right;
    position: absolute;
    right: 20px;
    top: 25px;
}
/* title内 a 标签 end*/
/* title end */
/* body */
.bd {
    width: 100%;
    height: 255px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 5px;
}

/* day */
.day ul {
    flex-direction: row;
    display: flex;
}

.day ul li {
    flex: 1;
    color: darkgrey;
    text-align: center;
    font-size: 14px;
}

/* day end*/
/* date */
.date ul {
    display: -webkit-flex;
    /* Safari */
    display: flex;
    flex-wrap: wrap;
}

.date ul li {
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.date ul .today {
    width: 34px;
    height: 34px;
    margin: 3px 8px;
    background-color: #70f3ff;
    border-radius: 50%;
}

/* date end */
/* body end */

/* 颜色区域 */

.color-zt {
    /* 紫檀色 */
    color: #4c221b;
}

.color-wl {
    /* 蔚蓝色 */
    color: #70f3ff;
}

.color-lg {
    /* 灰色 */
    color: darkgrey;
}

.color-dg {
    color: Black;
}


/* 时钟 */
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 250px;
}
@keyframes upDown {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

.clock-box {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    /* background-color: rgba(0,0,0,0.3); */
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, .5);
    z-index: 10;
    position: relative;
    animation: upDown 5s ease-in-out infinite;
}

.bac {
    position: absolute;
    bottom: -120px;
    width: 400px;
    height: 80px;
    z-index: 20;
    background: radial-gradient(rgba(0, 0, 0, .15), transparent, transparent);
    border-radius: 50%;
}

.clock-box .clock {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 420px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(transparent, rgba(255, 255, 255, 0.2)), url(clock.png);
    /* 使图片 整个显现 即缩放填满至父元素 */
    background-size: cover;
    border-radius: 50%;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, .5);
    border-bottom: none;
    border-left: none;
    box-shadow: 10px 0px 20px rgba(255, 255, 255, .1),
        -10px 0 20px rgba(0, 0, 0, .1),
        0 -10px 20px rgba(255, 255, 255, 0.1),
        0px 40px 50px rgba(0, 0, 0, .2);
}

.clock::before {
    content: "";
    background-color: white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    z-index: 1000;
}

.hour,
.minute,
.second {
    position: absolute;
}

.hour,
.hr {
    width: 120px;
    height: 120px;
    display: flex;
}

.minute,
.mu {
    width: 160px;
    height: 160px;
}

.second,
.sc {
    width: 200px;
    height: 200px;
}

.hr,
.mu,
.sc {
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.hr::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 60px;
    z-index: 20;
    background-color: red;
    border-radius: 6px;
}

.mu::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 80px;
    z-index: 28;
    background-color: #fff;
    border-radius: 6px;
}

.sc::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 130px;
    z-index: 18;
    background-color: black;
    border-radius: 6px;
}