body,div,p,span{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: #f9f9f9;
}
.top-wrap{
    height: 150px;
    width: 100%;
    background-color: black;
    background: linear-gradient(to right bottom,#4c221b,#493131,#665757);
    display: flex;align-items: center;
    color: white;
}
.top-wrap a{
    text-decoration: none;
    font-size: 24px;
    margin-left: 100px;
    color: white;
}
.top-wrap span {
    font-size: 34px;
    position: absolute;
    left: 40%;
}
.main-wrap{
    margin-bottom: 60px;
}
.main-wrap .row-wrap{
    display: flex;
    justify-content: center;
}
.main-wrap .row-wrap div{
    height: 340px;
    width: 340px;
    background-color: white;
    display: inline-block;
    margin: 60px 20px 0 20px;
    border-radius: 50%;
    transition: all 0.4s;
}
.main-wrap .row-wrap div:hover{
    cursor: pointer;
    box-shadow: 10px 10px 20px 5px #ccc;
    transform: translateY(-10px);
}
.main-wrap .b-row2 div{
    border: 10px solid aqua;
}
.main-wrap .b-row3 div{
    border: 10px solid #4c221b;
}
.main-wrap .b-row1 div{
    border: 10px solid #0aa344;
}