*{
    margin: 0;padding: 0;
}
body{
    background-color: #fefefc;
} 
h3{
    margin: 5px auto;
    width: 300px;
    text-align: center;
    font-family: 'microsoft yahei';
}

.md-box{
    display: flex;
}
.md-box .md-txt{
    height: 91vh;
    width: 48%;
    margin: 0 1% 1% 1%;
}
.md-box .md-txt #md-txt-area{
    width: 100%;
    height: 100%;
    outline: none;
}
.md-box .md{
    height: 91vh;
    width: 49%;
    margin: 0 1% 1% 0;
    padding: 5px;
    background-color: rgb(255, 252, 248);
    border-radius: 8px;
    border: 2px solid #C1DAFC;
    overflow: scroll;
}

.b{
    position: fixed;display: inline;
}
.b button{
    margin: 2px 15px;
}