*{
    margin: 0;padding: 0;
}
body{
    background-color: #e8ebe6;
}

.box{
    height: 90vh;
    width: 350px;
    margin: 20px auto;
    text-align: center;
}
.box .sc{
    display: flex;flex-direction: row;
    justify-content: center;
}
.box .sc div input,button{
    /* width: 140px; */
    margin-bottom: 5px;
}
.box .sc div{
    display: flex;
    margin: 12px;
    flex-direction: column;
}
#result{
    margin: 5px 0;
    color: red;
}


footer{
    width: 200px;
    margin: auto;text-align: center;
    position: relative;bottom: 5px;
    color: #0B5ED7;
}