*{
    margin: 0;padding: 0;
}
body{
    background-color: #e8ebe6;
}

.box{
    height: 90vh;
    width: 350px;
    margin: 20px auto;
    text-align: center;
}
.box .sc{
    display: flex;flex-direction: row;
    justify-content: center;
}
.box .sc div input,button{
    /* width: 140px; */
    margin-bottom: 5px;
}
.box .sc div{
    display: flex;
    margin: 12px;
    flex-direction: column;
}


/* footer{
    width: 200px;
    margin: auto;text-align: center;
    position: relative;bottom: 5px;
    color: #0B5ED7;
} */


/* 弹窗部分 */
.gpamodal{
    display: none;
    width: 50%;
    height: 200px;
    position: absolute;top: 200px;left: 25%;
    background-color: #66a2f0;
    z-index: 100;
    border-radius: 10px;
    animation-name: modalopen;
    /* -webkit-animation: modalopen; */
    animation-duration: 0.7s;
    box-shadow: 0 15px 20px 0 rgba(170,170,210,0.6),
                10px 0 20px 0 rgba(170,170,170,0.6);
}
@media screen and (max-width: 400px){
    .gpamodal{
        width: 70%;
        left: 15%;
    }
}
@media screen and (min-width: 800px){
    .gpamodal{
        width: 40%;
        left: 30%;
    }
}
.gpamodal .m-header #closeBtn{
    width: 45px;
    position: absolute;top: 10px;right: 10px;
}
.gpamodal hr{
    transform: translateY(40px);
    color: white;
}
.gpamodal .m-body{
    margin: 70px 30px;
}
.gpamodal .m-body .bot{
    position: absolute;bottom: 20px;
    color: gray;
}
@keyframes modalopen{
    from {opacity: 0}
    to {opacity: 1}
}

