*{
    margin: 0;padding: 0;
}
body{
    background-color: #e8ebe6;
}

.box{
    height: 90vh;
    width: 350px;
    margin: 20px auto;
    text-align: center;
}
.box .sc{
    display: flex;flex-direction: row;
    justify-content: center;
}
.box .sc div input,button{
    width: 150px;
    margin-bottom: 5px;
}
.box .sc div{
    display: flex;
    margin: 8px;
    flex-direction: column;
}
#result{
    margin: 5px 0;
    color: red;
}
